table th .columntitle {
		display: inline-block !important;
}

li
{
  list-style-type: none; 
}

.normaltext {
	font-size:80%
} 

.myHead {
   font-weight: bold;
   text-align: left;
   padding-bottom: 20px;
   margin-left: 10px;
   margin-top: 10px;
}

.podname {
	font-weight:bold;
}

.spanpanel {
        margin-left: 1.5%;
}

#pod-create {
	z-index: 1;
}

.apanel {
	width:100%;
	border:solid 1px #e4e4e4;
	margin-bottom:20px;
	height:50em; 
	display:none
	
}

.newpod-span {
	float: right;
	margin-right: 10px;
	line-height: 50px;
}

input.editpod {
	line-height: 1.5;
	padding: 2px 0px 4px 5px;
	margin-top:10px;
	position: relative;
	width: 400px;
}

.newpodform {
	margin-left:20px; 
	margin-bottom:20px; 
	position:absolute
}

.btn-pod, .btn-pod-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

table td.podname span.name span.nametext {font-weight:bold;}

table td.podname .nametext {
         position: absolute;
	 left: 29px;
	 padding: 0;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 max-width: 800px;
	 height: 100%;
         
}

.left {
float:left;
margin-left:3px;
width:50%;
border-color:red;
 border-style: solid;
 height:200px;
 border: 1px solid #c9c3ba
}

.right {
float:right;
width:50%;
border-color:red;
 border-style: solid;
 border: 1px solid #c9c3ba
}

#loading {
    display: none;
}

#loading-text {
    text-align: center;
}

.loader {	
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  

table td.podname a:hover {
         text-decoration: none;
}


.info {
   margin-left: 15px;
}

.modalOverlay {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;jjf
    top: 0px;
    left: 0px;
}


table.hidden {
               display: none;
}

table.visible {
               display: inline;
       }
