table th .columntitle {
	display: inline-block !important;
}

li {
	list-style-type: none;
}

.normaltext {
	font-size: 80%
}

.spanpanel {
	margin-left: 1.5%;
	margin-right: 16px;
}

.podname {
	font-weight: bold;
}

#pod-create {
	z-index: 1;
}

.apanel {
	width: 100%;
	border: solid 1px #e4e4e4;
	margin-bottom: 20px;
	/*	height:15em; */
	display: none;
	user-select: text;
}

.apanel pre {
	user-select: text;
}

#ssh {
	padding-left: 1.5%;
	padding-top: 1%;
}

#file {
	padding-left: 1.5%;
	padding-top: 1%;
}

#file_input {
	width: 240px;
}

#file_text {
	margin-right: 12px;
}

.newpod-span {
	float: right;
	margin-right: 10px;
	margin-top: 12px;
}

#public_key {
	min-width: 60% !important;
	min-height: 82px !important;
}

#storage_path {
	width: 35% !important;
}

#storage {
	padding-left: 1.5%;
}

#storage input {
	width: 240px;
}

#description {
	padding-left: 1.5%;
	padding-right: 30%;
	padding-top: 1%;
}

#yaml_file {
	line-height: 1.5;
	padding: 2px 0px 4px 5px;
	margin-top: 10px;
	margin-left: 15px;
	position: relative;
	width: 255px;
}

.newpodform {
	margin-left: 20px;
	margin-bottom: 20px;
	position: absolute
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.btn-pod,
.btn-pod-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#dialogalert {
	font-size: 12px;
	white-space: normal;
}

.text-right {
	margin-right: 19px;
}

#ssh,
#storage,
#loading,
#dialogalert,
#file {
	display: none;
}

#loading-text {
	text-align: center;
}

#loading {
	position: fixed;
	left: 47%;
	background-color: #b5cc2d4d;
	padding: 8px;
	z-index: 10;
}

.running_pods {
	padding-left: 1%;
}

#podstable {
	width: 100%;
}

#newpod {
	padding-bottom: 6px;
}

#podstable .summary .info {
	margin-left: 0;
}

#podstable .summary {
	height: 58px;
}

#podstable .delete-pod,
#podstable .expand-view {
	text-decoration: none;
	color: #c5c5c5;
	font-size: 16px;
	background-image: none;
	padding: 0 5px;
}

.app-user_pods .icon-loading-dark {
	background-size: 16px;
}

.user_pods_logo {
	vertical-align: bottom;
	margin-right: 8px;
	top: 4px;
	position: relative;
	width: 36px;
}

fieldset#userPodsSettings table tbody tr td {
	padding-right: 18px;
}

#kubernetesstatus {
	top: 2px;
	position: relative;
}

#pods_refresh {
	font-size: 24px;
	margin-left: 8px;
	height: 35px;
}

#podstable tbody a {
	color: #0376a3;
}

#app-content-kubernetes .info {
	position: sticky;
	top: 24px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	width: 78%;
	margin-bottom: -44px;
	z-index: 10;
	font-style: italic;
	color: #006b93;
	background: #c9fbfb8c;
	border: 1px solid #395058;
	border-radius: 4px;
	padding: 4px;
}

#app-content-kubernetes .info a {
	text-decoration: underline;
}

#podstable .expanded-row {
	background: #ffffff;
}

#podstable .expanded-column-name {
	text-align: right;
	width: 0;
}

#podstable .expanded-table {
	width: 100%;
}

#podstable td.td-button {
	text-align: center;
	padding-top: 3px;
}

#podstable th.th-button {
	width: 0;
}

#podstable tbody tr.simple-row td div[column="status"] span,
#podstable tbody tr.expanded-row table td.expanded-column-value span {
	white-space: normal;
	word-wrap: break-word;
}

.key_buttons {
	display: inline-block;
	vertical-align: bottom;
	
}
